<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="https://google.com/" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">
                ManhDev</a>
        </div>
        <p style="font-size:1.1em">Hello {{fullName}}</p>
        <p>Thank you for choosing ManhDev, this is your account registration confirmation email.</p>
        </p>
        <p style="font-size:0.9em;">Best regards,<br />Pixair</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        </div>
    </div>
</div>

<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="http://117.6.134.241:8649/" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">
                ManhDev</a>
        </div>
        <p style="font-size:1.1em">Hello {{fullName}}</p>
        <p>Thank you for choosing ManhDev, your confirmation code is {####}.</p>
        </p>
        <p style="font-size:0.9em;">Best regards,<br />ManhDev</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        </div>
    </div>
</div>

